<center style="font-size: 2em; font-weight: bold;"> Base de datos : ENAHO </center>
<center style="font-size: 2em; font-weight: bold;"> Modulo: Empleo y Educacion </center>

El proyecto del presente notebook, esta centrado en poder extraer información de la encuesta nacional de hogares (ENAHO), generando una base a nivel de ingresos y años de educacion

Para generar la queña base, la cual sera denominado Mincer, se debe trabajar con variables en las bases de de diferentes modulos de la ENAHO, los cuales son:

- Moudlo 300: educación

# Instalacion de Librerias

In [1]:
import pandas
import os
import numpy
import sys
import pyreadstat

In [2]:
#Ruta de carpetas
ruta = 'D:/Dropbox/BASES/ENAHO'
output = 'D:/Dropbox/BASES/ENAHO/Python_scripts'

# Base de Educacion

In [10]:
info = pandas.read_stata(os.path.join(ruta,"2021","enaho01a-2021-300.dta"), convert_categoricals=False )

In [11]:
def variable_reduca(frame, target, var1, var2, var3):
    
    """
    El comando variable_reduca, genera la variable de reduca, el cual permitira la variable cuantiativa de los
    años de educacion de la persona, considerando las varuables: p301a, p301b, p301c 
    """
    
    frame[var1] = pandas.to_numeric(frame[var1])
    frame[var2] = pandas.to_numeric(frame[var2])
    frame[var3] = pandas.to_numeric(frame[var3])
    zeros = frame[var3].min()

    frame[target] = frame[var2]
    
    frame.loc[(frame[var1]>=1) & (frame[var1]<=4),target] = (frame[target] + 0)
    frame.loc[(frame[var1]>=5) & (frame[var1]<=6),target] = (frame[target] + 6)
    frame.loc[(frame[var1]>=7) & (frame[var1]<=10),target] = (frame[target] + 11)
    frame.loc[(frame[var1]==11),target] = (frame[target] + 16)
    
    return frame

In [12]:

# Codigo de persona
base_educa = variable_rpersona(info, "rpersona", "conglome","vivienda","hogar","codperso")

# Variabl de años de educacion
base_educa = variable_reduca(info,'reduca',"p301a","p301b","p301c")

C:\Users\edinson\AppData\Local\Temp\ipykernel_13780\2336180036.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  frame[target] = frame[var1]+frame[var2]+frame[var3]+frame[var4]
C:\Users\edinson\AppData\Local\Temp\ipykernel_13780\1154872072.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  frame[target] = frame[var2]

In [13]:
base_educa['reduca'].describe()

count    102582.000000
mean          7.494882
std           5.661735
min           0.000000
25%           1.000000
50%           9.000000
75%          11.000000
max          18.000000
Name: reduca, dtype: float64

In [14]:
help(variable_reduca)

Help on function variable_reduca in module __main__:

variable_reduca(frame, target, var1, var2, var3)
    El comando variable_reduca, genera la variable de reduca, el cual permitira la variable cuantiativa de los
    años de educacion de la persona, considerando las varuables: p301a, p301b, p301c

In [15]:
base_educa[['p301a','p301b','p301c','reduca']].sample(19).transpose()

,68677,79685,1942,91918,70426,5288,83353,55647,80162,6416,15921,20822,298,78125,44432,68904,53095,84299,56455
p301a,6.0,6.0,3.0,1.0,4.0,6.0,6.0,1.0,6.0,6.0,8.0,2.0,3.0,5.0,4.0,3.0,5.0,1.0,6.0
p301b,5.0,5.0,0.0,NaN,0.0,5.0,5.0,NaN,5.0,5.0,5.0,2.0,0.0,3.0,0.0,0.0,3.0,NaN,5.0
p301c,NaN,NaN,4.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,6.0,5.0,NaN,NaN,NaN
reduca,11.0,11.0,0.0,NaN,0.0,11.0,11.0,NaN,11.0,11.0,16.0,2.0,0.0,9.0,0.0,0.0,9.0,NaN,11.0

In [16]:
base_final_educa = base_educa[['rpersona','reduca']]
base_final_educa.head(4)

        rpersona  reduca
0  0050070031101    17.0
1  0050070121101    11.0
2  0050070221101    16.0
3  0050070221102    14.0

# Exportar Exxcel

In [ ]:
# Observamos al direccion actual
os.chdir(output)
os.getcwd()

result.to_csv('BD_Educacion_2021.csv')
result.to_excel('BD_Educacion_2021.xlsx')